body{
}
h1{
    color:black
}
.div1{
float: left;
margin-top:400px;
margin-left: 100px;
text-decoration: underline;
}
.div2{
    float:right;clear: right;
    margin-top: 300px;
}
.div3{
  margin-top: 300px;
  margin-bottom: 100px;
  margin-left: 900px;
}